.cpuExtraAndField > div,.cpuMonsters > div, .cpuSpells >div, .cpuDeckAndGrave > div, #cpuHand > div, #p1Hand > div, .p1ExtraAndField > div,.p1Monsters > div, .p1Spells >div, .p1DeckAndGrave > div, #p1Hand > div  {
    height: 100px;
    border: 1px solid black;
    width: 50px;
    margin: 10px;
    border-radius: 5px;
}
.cpuExtraAndField,.cpuDeckAndGrave, .p1ExtraAndField, .p1DeckAndGrave {
    display: flex;
    flex-direction: column;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cpuField, .p1Field {
    display: inline-flex;

}
.cpuMonsters, .cpuSpells, .p1Monsters, .p1Spells {
    display: flex;
    flex-direction: row;
}
.cpuExtraAndField, .p1ExtraAndField {
    margin-right: 20%;
}
.cpuDeckAndGrave, .p1DeckAndGrave {
    margin-left: 20%;
}
#field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#cpuHand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}
#p1Hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
#phases {
    display: flex;
    flex-direction: row;
    background-color: red;
    color: white;
    padding: 15px;
    margin: 15px;
}